@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lobster&family=Quicksand:wght@500&family=Unbounded&display=swap');

body {
font-family: 'Unbounded', cursive;
background-color:#393053 ;
}

#selec_moster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
}

.tarjetas, .tarjetas_botones {
display: flex;
} 

.tarjetasDelJuego {
  display: flex;
  width: 200px;
  height: 200px;
  background: #635985;
  box-sizing: border-box;
  border: #18122B 5px solid;
  border-radius: 20px;
  margin: 15px;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.tarjetasDelJuego img {
  height: 125px;
}

input {
display: none;
}

input:checked + label {
 border-color: yellow;
}
 
#boton_monster {
  width: 170px;
  height: 45px;
  border-radius: 20px;
  border: #18122B 5px solid;
  background: #635985;
  margin-top: 60px;
}

#selec_atk {
  flex-direction: column;
  align-items: center;
}

.botones_ataque {
  width: 170px;
  height: 45px;
  border-radius: 20px;
  border: #18122B 5px solid;
  background: #635985;
  margin: 10px;
  color: white;
}

#mensajes {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  border: #18122B 5px solid;
  background: #635985;
  margin-top: 20px;
  color: white;
  flex-direction: column;
}

#boton_reset {
  color: white;
  background: #18122B;
  border-radius: 10px;
}
 
.estilosp2{
  display: grid;
  grid-template-columns: 150px 150px;
  color: white;
}

.estilos_jugador, .estilos_pc {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 360px) {
  .tarjetas, .tarjetas_botones{
    flex-direction: column;
  }
}

